{% extends 'music_recommendation/main.html' %}

{% block content %}
    <div id="parameters_main">
        <div class="box">
            <div style="height: 50%; padding: 5px">
                {% if stream_started %}
                    <div class="camera-window">
                        <img src="{% url 'main_app:stream_output' pk="camera" %}" alt="Can't stream :(">
                    </div>
                {% else %}
                {% endif %}
            </div>
            <div style="height: 30%">
                <div style="text-align: center; vertical-align: center; horiz-align: center">
                    <label for="genre">Select Genre:</label>
                    <select id="genre" name="genre">
                        <option value="pop">Pop</option>
                        <option value="rock">Rock</option>
                        <option value="hiphop">Hip Hop</option>
                        <option value="jazz">Jazz</option>
                        <!-- Add more genre options as needed -->
                    </select>

                    <br>

                    <label for="mood">Select Mood:</label>
                    <select id="mood" name="mood">
                        <option value="happy">Happy</option>
                        <option value="sad">Sad</option>
                        <option value="energetic">Energetic</option>
                        <option value="relaxed">Relaxed</option>
                        <!-- Add more mood options as needed -->
                    </select>

                    <br>

                    <label for="tempo">Select Tempo:</label>
                    <select id="tempo" name="tempo">
                        <option value="slow">Slow</option>
                        <option value="medium">Medium</option>
                        <option value="fast">Fast</option>
                        <!-- Add more tempo options as needed -->
                    </select>
                </div>
            </div>
            <div class="buttons_home" style="height: 20%; gap: 2em">
                {% if stream_started %}
                    <a href="{% url 'main_app:stop_streaming' pk="camera" %}"
                       style="text-decoration: none; height: 5em">
                        <button type="button" class="start-button">Stop</button>
                    </a>
                {% else %}
                    <a href="{% url 'main_app:start_streaming' pk="camera" %}"
                       style="text-decoration: none; height: 5em">
                        <button type="button" class="start-button">Launch camera</button>
                    </a>
                {% endif %}
                <a href=""  style="text-decoration: none; height: 5em">
                    <button onclick="getCurrentSong()" type="button" class="start-button">Get Recommendation</button>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="music-player-card">
                <div class="flex-container">
                    <div class="album-art">
                        <img src="" height="100%" width="100%" alt="Album Art" id="albumPhoto">
                    </div>
                    <div class="song-details">
                        <h5 id="title"></h5>
                        <p style="color: #999;" id="artist"></p>
{#                        <div>#}
{#                            <button id="playPauseButton">${mockData.is_playing ? 'Pause' : 'Play'}</button>#}
{#                            <button>Skip Next</button>#}
{#                        </div>#}
                    </div>
                </div>
{#                <div class="progress-bar-container">#}
{#                    <div id="progressBar" class="progress-bar" style="width: ${songProgress}%;"></div>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock content %}