{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="UTF-8">
    <title>Music recommendation</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>
    <script src="{% static 'js/code.js' %}"></script>

<nav>
    <div id="logo">
        LOGO
    </div>
    <div onclick="location.href='{% url "main_app:home_page" %}'" id="home_button">
        <button>Home</button>
    </div>
</nav>
<div id="main">
    {% block content %}

    {% endblock content %}
</div>

</body>
</html>