.CurrentlyPlayingSongFrame {
    min-width: 44vw;
    max-width: 44vw;
    min-height: 100px;
    max-height: 100px;
    background-color: aqua;
    margin: 0.5vw;
    display: flex;
    border-radius: 5px;
}

.CurrentlyPlayingSongLeft {
    display: flex;
    background-color: antiquewhite;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    min-width: 100px;
    max-width: 100px;
}

.CurrentlyPlayingSongImage {
    padding: 10px;
    width: 80px;
    height: 80px;
}

.CurrentlyPlayingSongRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(148, 148, 148);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.CurrentlyPlayingSongText {
    flex: 1;
    display: flex;
    direction: column;
    background-color: rgb(152, 152, 152);
    align-items: center;
}

