.MusicControlFrame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70vh;
    max-height: 70vh;
    width: 100%;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
}

.MusicControlPlaylistHolder {
    min-height: calc(70vh-175px);
    max-height: calc(70vh-175px);
    width: 100%;
    display: flex;
    /* background-color: rgb(155, 155, 47); */
    overflow-y: auto;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: flex-start;
}

.MusicControlPlaybackHolder {
    min-height: 175px;
    max-height: 175px;
    width: 100%;
    display: flex;
    /* background-color: rgb(94, 133, 110); */
    overflow-x: auto;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: flex-start;
}

