.navBarFrame {
    height: 7vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBarTitle {
    background-color: beige;
    margin: 20px;
    font-size: large;
}

.navBarButton {
    background-color: beige;
    margin: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #d5d5d5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

